@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}



html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    min-height: 100vh;

}

header{
    background-color: black;
    text-align: center;
    color: white;
    
}

header > h1{
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-weight: normal;
    padding-top: 50px;
    font-variant: small-caps;
    

}

header > p{
    padding-bottom: 50px;
    font-size: 1.1em;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: 'Sriracha', cursive;
    line-height: 2em;
    font-size: 3.5vw;
    padding-left: 20px;
}

    

section.padrao{
    background-color: white;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.599);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.396);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    text-shadow: 1px 1px 5px 1px black;
}

section#imagem1{
    background-image: url(imagens/background001.jpg);
    background-position: center right;
}

section#imagem2{
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}